.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form-container {
  width: 30rem;
  padding: 2rem;
  border-radius: 10px;
  background: var(--background-light);
}
.login-form-container,
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.login-form input {
  height: 3rem;
  width: 100%;
  padding: 0 5px;
  border: 1px solid var(--gray-70);
  border-radius: 5px;
  margin-top: 5px;
}

.remember-me-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
}

.remember-me input {
  height: 1.6rem;
}

a {
  text-decoration: none;
}
label {
  text-align: left;
}

.password {
  display: flex;
  align-items: center;
  gap: 5px;
  outline: 1px solid var(--gray-70);
  border-radius: 5px;
  padding: 0 5px;
}
.password input {
  border: none;
}
.password input:focus {
  outline: none;
}
.password:focus-within {
  outline: 2px solid var(--blue-outline);
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .login-form-container {
    width: 40rem;
  }
}
