.result-container {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.progress-bar{
    height: 5rem;
    width: 50rem;
    padding: 5px;
    position: relative;
    border:2px solid var(--maroon);
    border-radius:5rem;
    margin-bottom: 6rem;
}
.progress-bar::before{
    content: '0%';
    font-size: 2rem;
    display: block;
    position: absolute;
    color: var(--gray-300);
    bottom: -5rem;
    left:-1rem;
}
.progress-bar::after{
    content: '100%';
    font-size: 2rem;
    display: block;
    position: absolute;  
    color: var(--gray-300);
    bottom: -5rem;
    right: -2rem;
}
.progress{
    height: 5rem;
    border-radius: 5rem;
    background: var(--primary);
    width: 50%;
    transition: all 0.2s width;
}
.option-item{
    width:50rem;
}
.option-item.success{
    background:#15803d;
    border: none;
}
.option-item.fail{
    background: #b91c1c;
    border: none;
}
.option-item.success span,.option-item.fail span{
    color: var(--white);

}

input[type="radio"]{
    display: none;
}
@media only screen and (max-width:600px){
    html{
        font-size: 50%;
    }
}