*{
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.table{
    font-size: 1.6rem;
    width: 100%;
}

.table td,.table th{
    padding:8px;
}

.table tr:first-child{
    background: var(--primary);
}

.table tr{
    background: var(--black-light);
}