
   
:root{
  --primary:#c3073f;
  --primary-light:#F387A7;
  --secondary:#950740;
  --maroon : #6f2232;
  --grey:#4e4e50;
  --black:#121212;
  --black-light:#333333;
  --gray-300:#CBD5E1;
  --white:#fff;
  --success:#15803d;
  --background-color:#121212;
  --font-color:#fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme{
  --background-color: var(--black);
  --font-color:var(--white);
}
.light-theme{
  --background-color: #f7f7ff;
  --font-color:var(--black);
}
.background{
  background: var(--background-color);
}

.font-color{
  color:var(--font-color);
}
.grey{
  color: var(--grey);
}
.white{
  color: var(--white);
}
.text-primary{
  color:var(--primary)
}
.btn-primary{
  background: var(--primary);
}

.btn-primary:hover{
  background: var(--secondary);
}

.btn-secondary{
  background: var(--primary-light);
  color: var(--black);
  border: none;
}

.btn-secondary:hover{
  background: var(--primary);
  color: var(--white);
}